#images {
    width: 40%;
    height: 100%;
    border: 1px solid black;
    border-radius: 18px;
    box-shadow: 5px 5px #dddddd;
  }
  
  #stats {
    width: 40%;
    min-height: 20%;
    max-height: fit-content;
    border: 1px solid black;
    border-radius: 18px;
    box-shadow: 5px 5px #dddddd;
  }
  
  #stats img {
    width: 1.5rem;
  }
  
  #stats p {
    font-size: 1.5rem;
    display: flex;
    margin-left: 15px;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  #content {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  #atk {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  header {
    position: absolute;
    display: flex;
    left: 0; top: 0;
    justify-content: end;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 10vh;
  }

  img {
    width: 150px;
    /* filter: brightness(0); */
  }
  
  hr {
    height: 1px;
  }
  
  input {
    width: 10rem;
    text-align: center;
  }
  
  button, input {
    border-radius: 8px;
    border-width: 1px;
  }
  
  table, tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .link {
    border: none;
    background: none;
    color: white;
    font-size: 1em;
    margin-right: 20px;
  }

  .link:hover{
    color: black;
    cursor: pointer;
  }

  table tr {
    width: 100%;
    height: 8vh;
    align-items: center;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
  }
  
  th {
    font-size: 2em;
  }
  
  td {
    font-size: 1.5em;
  }
  
  h1 {
    font-family: 'Courier New', Courier, monospace;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }